body {
  margin-top: 5rem;
}

a:link {
  text-decoration: none;
}

.account-heading {
  font-size: 2.5rem;
}

.account-img {
  height: 128px;
  width: 128px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.content-section {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.nav-img {
  height: 32px;
  width: 32px;
  margin-right: 5px;
}
