{% extends "layout.html" %}
{% block content %}
    <h1>{{ title }}</h1>
    {% if current_user.user_type == UserTypes.DRIVER and sponsorship.cart %}
    <div class="float-right">
        <a href="{{ url_for("cart", id=sponsorship.id) }}">
            <button type="submit" class="btn btn-primary">View Cart</button>
        </a>
    </div>
    {% elif current_user.user_type == UserTypes.STORE_MANAGER %}
    <div class="float-right">
        <a href="{{ url_for("manage_catalog") }}">
            <button type="submit" class="btn btn-primary">Manage Catalog</button>
        </a>
    </div>
    {% endif %}
    {% if sponsor.catalog.catalog_type == CatalogTypes.CATEGORIES %}
        {% include "catalog_categories.html" %}
    {% elif sponsor.catalog.catalog_type == CatalogTypes.ITEMS %}
        {% include "catalog_items.html" %}
    {% else %}
        {% include "catalog_rules.html" %}
    {% endif %}
{% endblock content %}
