{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend>Apply to be a Sponsor</legend>
                <div class="form-group">
                    {{ form.name.label() }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
        <div>
        <small class="text-muted">
            Are you a store manager of an approved sponsor?
            <a class="ml-2" href="{{ url_for("sign_in") }}">Sign In</a>
        </small>
        </div>
    </div>
</div>
{% endblock content %}
